<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Create carousel</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <v-file-input
            accept="image/*"
            v-model="file"
            :rules="fileRules"
            :disabled="loading"
            label="Select a image"
            required
          ></v-file-input>

          <v-text-field
            v-model="link"
            :rules="linkRules"
            :disabled="loading"
            label="Link"
            required
          ></v-text-field>

          <v-text-field
            v-model="title"
            :disabled="loading"
            label="Title"
          ></v-text-field>

          <v-text-field
            v-model="caption"
            :disabled="loading"
            label="Caption"
            required
          ></v-text-field>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="add"
          >
            Add
          </v-btn>
          <v-btn :disabled="loading" @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import CarouselService from "@/services/carousel-service";

export default {
  data: () => ({
    valid: true,
    file: null,
    link: null,
    fileRules: [
      (v) => !!v || "Image file is required",
      (v) =>
        !v || v.size < 2000000 || "Image file size should be less than 2 MB!",
    ],
    linkRules: [(v) => !!v || "Link is required"],
    loading: false,
  }),
  methods: {
    async add() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        let formData = new FormData();

        formData.append("file", this.file);
        formData.append("link", this.link);
        formData.append("title", this.title);
        formData.append("caption", this.caption);

        this.loading = true;
        await CarouselService.add(formData);
        this.loading = false;

        this.$router.push({ name: "Carousels" });
      }
    },
    cancel() {
      this.$router.push({ name: "Carousels" });
    },
  },
};
</script>
