<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Edit carousel</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <div class="mb-2">Old image</div>
          <v-img
            :src="carousel.imageUrl"
            max-height="100"
            max-width="200"
          ></v-img>

          <v-file-input
            accept="image/*"
            v-model="carousel.file"
            :rules="fileRules"
            :disabled="loading"
            label="Select a image"
          ></v-file-input>

          <v-text-field
            v-model="carousel.link"
            :rules="linkRules"
            :disabled="loading"
            label="Link"
            required
          ></v-text-field>

          <v-text-field
            v-model="carousel.title"
            :disabled="loading"
            label="Title"
          ></v-text-field>

          <v-text-field
            v-model="carousel.caption"
            :disabled="loading"
            label="Caption"
            required
          ></v-text-field>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="update"
          >
            Update
          </v-btn>
          <v-btn :disabled="loading" @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import CarouselService from "@/services/carousel-service";

export default {
  data: () => ({
    valid: true,
    carousel: {
      id: null,
      file: null,
      link: null,
      title: null,
      caption: null
    },
    fileRules: [
      (v) =>
        !v || v.size < 2000000 || "Image file size should be less than 2 MB!",
    ],
    linkRules: [(v) => !!v || "Link is required"],
    loading: false,
  }),
  beforeRouteEnter(to, from, next) {
    if (!isNaN(to.params.id)) {
      next();
    } else {
      next({
        path: "/PageNotFound",
      });
    }
  },
  async created() {
    this.showLoading();

    let carouselId = Number(this.$route.params.id);
    let response = await CarouselService.getById(carouselId);

    this.hideLoading();

    if (response.data.isSuccess) {
      this.carousel = { ...response.data.data };
    } else {
      this.$router.push({ name: "PageNotFound" });
    }
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    async update() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        let formData = new FormData();

        formData.append("id", this.carousel.id);
        if (this.carousel.file) {
          formData.append("file", this.carousel.file);
        }
        formData.append("link", this.carousel.link);
        formData.append("title", this.carousel.title);
        formData.append("caption", this.carousel.caption);

        this.loading = true;
        await CarouselService.edit(formData);
        this.loading = false;

        this.$router.push({ name: "Carousels" });
      }
    },
    cancel() {
      this.$router.push({ name: "Carousels" });
    },
  },
};
</script>
