<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Carousel management</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-btn color="success" @click="createCarousel">
          <v-icon left>
            mdi-plus
          </v-icon>
          Create
        </v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-data-table
          :headers="headers"
          :items="this.carousels"
          :loading="loading"
          dense
        >
          <template v-slot:[`item.imageUrl`]="{ item }">
            <div class="d-flex justify-center py-2">
              <v-img
                :src="item.imageUrl"
                max-height="100"
                max-width="200"
              ></v-img>
            </div>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-btn
              color="error"
              @click="showConfirmDialogAndSetSelectedCarouselId(item.id)"
              :disabled="loading"
              icon
            >
              <v-icon>
                mdi-delete
              </v-icon>
            </v-btn>
            <v-btn
              color="cyan"
              @click="editCarousel(item.id)"
              :disabled="loading"
              icon
            >
              <v-icon>
                mdi-pencil
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <ConfirmDialog
      v-model="dialog"
      title="Warning"
      message="Are you sure?"
      :callback="hideConfirmDialogAndDeleteSelectedCarousel"
    />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import ConfirmDialog from "@/components/common/ConfirmDialog";
import CarouselService from "@/services/carousel-service";

export default {
  components: {
    ConfirmDialog,
  },
  data: () => ({
    carousels: [],
    headers: [
      {
        text: "Image",
        align: "center",
        value: "imageUrl",
        width: "300",
        sortable: false,
      },
      { text: "Link", value: "link" },
      { text: "Created date", value: "createdDate" },
      { text: "", sortable: false, value: "actions" },
    ],
    dialog: false,
    selectedCarouselId: null,
    loading: false,
  }),
  async created() {
    await this.loadData();
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    createCarousel() {
      this.$router.push({ name: "CreateCarousel" });
    },
    editCarousel(carouselId) {
      this.$router.push({ name: "EditCarousel", params: { id: carouselId } });
    },
    showConfirmDialogAndSetSelectedCarouselId(carouselId) {
      this.selectedCarouselId = carouselId;
      this.dialog = true;
    },
    async loadData() {
      this.loading = true;
      let response = await CarouselService.getAll();
      if (response.data.isSuccess) {
        this.carousels = [...response.data.data];
      }
      this.loading = false;
    },
    async hideConfirmDialogAndDeleteSelectedCarousel() {
      this.showLoading();

      await CarouselService.delete(this.selectedCarouselId);

      this.selectedCarouselId = null;
      this.dialog = false;

      await this.loadData();

      this.hideLoading();
    },
  },
};
</script>
