<template>
  <loading
    :active.sync="loading"
    :can-cancel="false"
    :color="color"
    :loader="loader"
    :height="height"
    :width="width"
    :z-index="zIndex"
    :is-full-page="true"
    :opacity="opacity"
  ></loading>
</template>

<script>
import Loading from "vue-loading-overlay";

export default {
  components: { Loading },
  data: function() {
    return {
      color: "#4cc0ad",
      height: 80,
      width: 80,
      loader: "spinner",
      zIndex: 999,
      opacity: 0.7,
      loading: true,
    };
  },
};
</script>
