<template>
  <v-flex xs12>
    <v-layout row>
      <v-flex xs12>
        <v-carousel cycle hide-delimiter-background height="400px">
          <v-carousel-item
            v-for="(item, i) in carousels"
            :key="i"
            :src="item.imageUrl"
            @click="navigateToLink(item.link)"
            reverse-transition="fade-transition"
            transition="fade-transition"
            style="cursor: pointer;"
          >
          </v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-layout>

    <v-layout row class="mt-3">
      <v-flex xs2></v-flex>
      <v-flex xs6 class="pr-5">
        <v-card
          v-for="post in posts.items"
          :key="post.id"
          class="grey--text text--darken-2 no-box-shadow"
        >
          <span
            style="cursor: pointer; font-size: 32px"
            class="mt-3"
            @click="navigatePost(post.id)"
            >{{ post.title }}</span
          >
          <div class="mt-3">
            <span style="color: grey">POSTED BY </span>
            <strong>{{ post.createdBy }}</strong>
            <span style="color: grey"> ON </span>
            <strong>{{ convertDate(post.createdDate) }}</strong>
          </div>
          <v-img
            :src="post.thumbnailImageUrl"
            height="400px"
            class="mt-3"
            style="cursor: pointer"
            @click="navigatePost(post.id)"
          ></v-img>
          <v-card-text style="font-size: 16px">{{
            concatStr(post.shortDescription)
          }}</v-card-text>
          <v-card-actions class="mb-3">
            <v-btn
              text
              :to="{ name: 'Post', params: { id: post.id } }"
              style="color: #5277ac"
              >READ MORE</v-btn
            >
          </v-card-actions>
        </v-card>
        <div v-if="!posts.isLastPage && !loading" class="text-center my-3">
          <v-btn @click="loadPostDataPaging">LOAD MORE</v-btn>
        </div>
        <div v-if="loading" class="text-center my-3">
          <img :src="require('@/assets/images/loading.gif')" />
        </div>
      </v-flex>
      <v-flex xs2 class="pl-5">
        <h4 style="color: #223e6e; font-size: 34px; font-weight: 400">
          Popular Posts
        </h4>
        <v-card
          v-for="post in popularPosts"
          :key="post.id"
          class="no-box-shadow"
        >
          <v-img
            @click="$router.push({ name: 'Post', params: { id: post.id } })"
            style="cursor: pointer"
            :src="post.thumbnailImageUrl"
            height="170px"
            class="mt-2"
          ></v-img>
          <p
            style="cursor: pointer; color: #5277ac; font-size: 16px"
            class="mt-2"
            @click="navigatePost(post.id)"
          >
            {{ post.title }}
          </p>
          <p class="grey--text text--darken-1" style="font-size: 16px">
            {{ post.shortDescription }}
          </p>
        </v-card>
      </v-flex>
      <v-flex xs2></v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import moment from "moment";
import CarouselService from "@/services/carousel-service";
import PostService from "@/services/post-service";

export default {
  data: () => ({
    carousels: [],
    posts: {
      items: [],
      totalItems: 0,
      currentPage: 0,
      itemsPerPage: 3,
      isLastPage: false,
    },
    loading: true,
    popularPosts: [],
  }),
  async created() {
    await this.loadCarouselData();
    await this.loadPostDataPaging();
    await this.loadPopularPostData();
  },
  methods: {
    concatStr(str) {
      return str.substring(0, 1000) + " ...";
    },
    convertDate(date) {
      return moment(date)
        .utcOffset(-0, false)
        .format("ddd, MMM DD YYYY, hh:mm A");
    },
    async loadCarouselData() {
      let response = await CarouselService.getByPage("HomePage");
      if (response.data.isSuccess) {
        this.carousels = [...response.data.data];
      }
    },
    async loadPostDataPaging() {
      if (!this.posts.isLastPage) {
        this.loading = true;
        this.posts.currentPage = this.posts.currentPage + 1;
        let response = await PostService.getPosts({
          searchValue: "",
          sortBy: "CreatedDate",
          isDescending: true,
          page: this.posts.currentPage,
          itemsPerPage: this.posts.itemsPerPage,
        });
        if (response.data.isSuccess) {
          this.posts.items = [...this.posts.items, ...response.data.data];
          this.posts.totalItems = response.data.total;
          this.posts.isLastPage =
            this.posts.items.length === this.posts.totalItems;
        }

        this.loading = false;
      }
    },
    async loadPopularPostData() {
      let response = await PostService.getPopularPost({
        numberOfPost: 5,
      });
      if (response.data.isSuccess) {
        this.popularPosts = [...response.data.data];
      }
    },
    navigatePost(id) {
      this.$router.push({ name: "Post", params: { id: id } });
    },
    navigateToLink(link) {
      window.open(link, "_blank");
    },
  },
};
</script>