<template>
  <v-flex xs12>
    <CategoriesOfMenuLayout
      :categoryName="category.name"
      :posts="category.posts"
      v-for="category in categories"
      :key="category.id"
    />
  </v-flex>
</template>

<script>
import MenuService from "@/services/menu-service";
import CategoriesOfMenuLayout from "@/components/layouts/CategoriesOfMenuLayout.vue";

export default {
  components: { CategoriesOfMenuLayout },
  data: () => ({
    categories: {},
  }),
  beforeRouteEnter(to, from, next) {
    const id = to.params.id;
    if (id) {
      next();
    } else {
      next({
        path: "/PageNotFound",
      });
    }
  },
  created() {
    this.initialData();
  },
  watch: {
    $route: "initialData",
  },
  methods: {
    async initialData() {
      const menuId = this.$route.params.id;
      const response = await MenuService.getCategoriesAndPostsById(menuId);
      if (response.data.isSuccess) {
        this.categories = response.data.data.categoryDetails;
      }
    }
  },
};
</script>