<template>
  <div>
    <v-flex xs12>
      <v-layout row class="mt-3">
        <v-flex xs2></v-flex>
        <v-flex xs8>
          <v-card class="grey--text text--darken-2 no-box-shadow">
            <span style="font-size: 32px" class="mt-3">{{ post.title }}</span>
            <div class="my-3">
              <span style="color: grey">POSTED BY </span>
              <strong>{{ post.createdBy }}</strong>
              <span style="color: grey"> ON </span>
              <strong>{{ convertDate(post.createdDate) }}</strong
              ><br />
            </div>
            <div v-html="post.content"></div>
          </v-card>
        </v-flex>
        <v-flex xs2></v-flex>
      </v-layout>
    </v-flex>

    <v-flex xs12>
      <v-layout row class="mt-3">
        <v-flex xs2></v-flex>
        <v-flex xs8>
          <div class="comment-panel">
            <div class="comment-panel-header">Comments</div>
            <div class="comment-panel-body">
              <!-- comment list -->
              <div class="comment-list">
                <div class="comment-list-wrapper">
                  <div
                    class="comment-list-item"
                    v-for="comment in comments"
                    :key="comment.id"
                  >
                    <div class="comment-list-item-body">
                      <div class="author-name">{{ comment.commentBy }}</div>
                      <div class="comment-content my-1">
                        {{ comment.content }}
                      </div>
                      <div class="comment-action">
                        <div class="comment-time">
                          <v-icon small> mdi-clock </v-icon>
                          {{
                            convertDate(
                              comment.commentDate,
                              "MM-DD-YYYY hh:mm:ss"
                            )
                          }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end comment list -->
              <div class="comment-input ma-3">
                <template v-if="logUser != null">
                  <v-text-field
                    label="Enter comment"
                    solo
                    dense
                    hide-details
                    v-model="comment.content"
                    v-on:keyup.enter="postComment"
                  >
                  </v-text-field>
                </template>

                <template v-else> Please login to comment </template>
              </div>
            </div>
          </div>
        </v-flex>
        <v-flex xs2></v-flex>
      </v-layout>
    </v-flex>

    <v-flex xs12>
      <v-layout row class="mt-3">
        <v-flex xs2></v-flex>
        <v-flex xs8>
          <v-layout row>
            <h4 style="color: #223e6e; font-size: 34px; font-weight: 400">
              Related Posts
            </h4>
          </v-layout>
          <v-layout row>
            <v-flex
              xs4
              class="px-4"
              v-for="post in popularPosts"
              :key="post.id"
            >
              <v-card class="no-box-shadow">
                <v-img
                  :src="post.thumbnailImageUrl"
                  height="170px"
                  class="mt-2"
                  style="cursor: pointer"
                  @click="changeUrl(post.id)"
                ></v-img>
                <p
                  style="cursor: pointer; color: #5277ac; font-size: 16px"
                  class="mt-2"
                  @click="changeUrl(post.id)"
                >
                  {{ post.title }}
                </p>
                <p class="grey--text text--darken-1" style="font-size: 16px">
                  {{ post.shortDescription }}
                </p>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs2></v-flex>
      </v-layout>
    </v-flex>
  </div>
</template>

<script>
import moment from "moment";
import PostService from "@/services/post-service";
import CommentService from "@/services/comment-service";
import AuthService from "@/services/auth-service";

export default {
  data: () => ({
    post: {},
    popularPosts: [],
    comment: {},
    comments: [],
    logUser: {},
  }),
  async created() {
    await this.initData();
    this.logUser = await AuthService.getUser();
  },
  watch: {
    $route: "initData",
  },
  methods: {
    concatStr(str) {
      return str.substring(0, 300) + " ...";
    },
    convertDate(date, format) {
      return moment(date)
        .utcOffset(-0, false)
        .format(format || "ddd, MMM Do YYYY, hh:mm A");
    },
    async postComment() {
      this.comment.commentBy = this.logUser.profile.name;
      this.comment.postId = this.$route.params.id;
      this.comment.commentDate = new Date().toLocaleString();

      let result = await CommentService.add(this.comment);

      if (result.status == 200) {
        this.$set(
          this.comments,
          Object.keys(this.comments).length,
          this.comment
        );
        this.comment = {};
      }
    },
    changeUrl(id) {
      this.$router.push({ name: "Post", params: { id: id } });
    },
    async redirectPost() {
      let response = await PostService.getById(this.$route.params.id);
      this.post = { ...response.data.data };
    },
    async initData() {
      let response = await PostService.getById(this.$route.params.id);
      this.post = { ...response.data.data };

      response = await PostService.getByCategoryId(
        this.post.categoryId,
        this.$route.params.id
      );
      this.popularPosts = { ...response.data };

      response = await CommentService.getByPostId(this.$route.params.id);
      this.comments = { ...response.data };
    },
  },
};
</script>