<template>
  <v-card>
    <v-card-title>Register</v-card-title>
    <v-card-text style="font-size: 16px">
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          required
          v-model="user.username"
          label="Username"
          outlined
          dense
          :counter="20"
          :rules="userNameRules"
        ></v-text-field>
        <v-text-field
          v-model="user.password"
          label="Password"
          type="password"
          outlined
          dense
          :counter="25"
          :rules="passwordRules"
        ></v-text-field>
        <v-text-field
          v-model="confirmPassword"
          label="Confirm password"
          type="password"
          outlined
          dense
          :counter="25"
          :rules="confirmPasswordRules"
        ></v-text-field>
        <v-text-field
          v-model="user.name"
          label="Name"
          outlined
          dense
          :counter="100"
          :rules="nameRules"
        ></v-text-field>
        <div class="mt-2, mb-2" v-show="success">
          Register sucess! Click <a v-on:click="login">here</a> to login
        </div>
        <div class="mt-2, mb-2" v-show="error">Username already existed!</div>
        <v-btn @click="checkUserName" color="primary">Register</v-btn>
        <v-btn v-on:click="closeDialog" class="ml-2">Close</v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import { USER_ROLES } from "@/constants/user-role";
import UserService from "@/services/user-service";
export default {
  name: "RegisterDialog",
  data: () => ({
    valid: true,
    success: false,
    error: false,
    user: {
      username: "",
      password: "",
      name: "",
      roleid: [...USER_ROLES][1].id,
    },
    confirmPassword: "",
    userNameRules: [
      (v) => !!v || "Username is required!",
      (v) =>
        (v && !v.includes(" ")) || "UserName can't contain white space(s).",
      (v) =>
        (v && v.length <= 20) || "UserName must be less than 20 characters.",
    ],
    passwordRules: [
      (v) => !!v || "Password is required!",
      (v) =>
        (v &&
          /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,25}$/.test(v)) ||
        "Weak password",
      (v) =>
        (v && v.length <= 25) || "Password must be less than 25 characters.",
    ],
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 100) || "Name must be less than 100 characters",
    ],
  }),
  computed: {
    confirmPasswordRules() {
      return [
        (v) => !!v || "Confirm password is required!",
        (v) => v === this.user.password || "Password not matched.",
      ];
    },
  },
  methods: {
    async checkUserName() {
      this.success = false;
      this.error = false;
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        this.loading = true;
        var result = await UserService.checkUserName(this.user.username);
        if (!result.data.data) {
          this.register();
        } else {
          this.error = true;
          this.success = false;
        }
      }
    },
    async register() {
      var result = await UserService.add(this.user);
      if (result.data.isSuccess) {
        this.success = result.data.isSuccess;
        this.error = false;
        this.reset();
      }
      this.loading = false;
    },
    closeDialog() {
      this.$emit("close-dialog");
    },
    reset() {
      this.$refs.form.reset();
    },
    login() {
      this.$emit("login");
    },
  },
};
</script>