<template>
  <div>
    <v-flex xs12>
      <v-layout row class="mt-3">
        <v-flex xs2></v-flex>
        <v-flex xs8>
          <v-layout row>
            <h4 style="color: #223e6e; font-size: 34px; font-weight: 400">
              Result
            </h4>
          </v-layout>
          <v-layout row>
            <v-flex xs4 class="px-4" v-for="post in posts" :key="post.id">
              <v-card class="no-box-shadow">
                <v-img
                  style="cursor: pointer"
                  @click="navigatePost(post.id)"
                  :src="post.thumbnailImageUrl"
                  height="170px"
                  class="mt-2"
                ></v-img>
                <p
                  style="cursor: pointer; color: #5277ac; font-size: 16px"
                  class="mt-2"
                  @click="navigatePost(post.id)"
                >
                  {{ post.title }}
                </p>
                <p class="grey--text text--darken-1" style="font-size: 16px">
                  {{ post.shortDescription }}
                </p>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs2></v-flex>
      </v-layout>
    </v-flex>

    <v-flex xs12>
      <v-layout row class="mt-3">
        <v-flex xs2></v-flex>
        <v-flex xs8 class="my-3 justify-start">
          <v-pagination
            v-model="page"
            :length="Math.ceil(this.totalPosts / 6)"
            @input="handlePageChange"
          ></v-pagination>
        </v-flex>
        <v-flex xs2></v-flex>
      </v-layout>
    </v-flex>
  </div>
</template>

<script>
import moment from "moment";
import PostService from "@/services/post-service";

export default {
  data: () => ({
    searchValue: null,
    totalPosts: 0,
    options: {},
    loading: false,
    page: 1,
    posts: [],
  }),
  async created() {
    await this.loadData();
  },
  watch: {
    "$route.query": async function () {
      this.page = 1;
      await this.loadData();
    },
  },
  methods: {
    concatStr(str) {
      return str.substring(0, 300) + " ...";
    },
    convertDate(date) {
      return moment(date)
        .utcOffset(-0, false)
        .format("ddd, MMM Do YYYY, hh:mm A");
    },
    async loadData() {
      this.searchValue = this.$route.query.searchValue;

      this.loading = true;

      let response = await PostService.getPosts({
        searchValue: this.searchValue,
        sortBy: null,
        isDescending: null,
        page: this.page === undefined ? 1 : this.page,
        itemsPerPage: 6,
      });
      if (response.data.isSuccess) {
        this.posts = [...response.data.data];

        this.totalPosts = response.data.total;
      }

      this.loading = false;
    },
    async handlePageChange(value) {
      this.page = value;

      await this.loadData(this.searchValue);
    },
    navigatePost(id) {
      this.$router.push({ name: "Post", params: { id: id } });
    },
  },
};
</script>