<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Welcome {{ name }}</h2>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import AuthService from "@/services/auth-service";

export default {
  data: () => ({
    user: null,
  }),
  computed: {
    name() {
      if (this.user && this.user.profile) {
        return this.user.profile.name;
      }
      return null;
    },
  },
  async created() {
    this.user = await AuthService.getUser();
  },
};
</script>
