<template>
  <v-card
    style="border: none"
    class="mx-auto my-12"
    max-width="600"
    outlined
    tile
  >
    <v-img :src="require('@/assets/images/404.png')"></v-img>

    <v-card-text class="d-flex justify-center">
      This is not the web page you are looking for
    </v-card-text>

    <v-card-actions class="d-flex justify-center">
      <v-btn color="deep-purple" text @click="backToHomePage">
        Back to home page
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  methods: {
    backToHomePage() {
      this.$router.push({ name: "Home" });
    },
  },
};
</script>
