<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Create category</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-model="name"
            :rules="nameRules"
            :disabled="loading"
            label="Name"
            required
          ></v-text-field>

          <v-text-field
            v-model="description"
            :rules="descriptionRules"
            :disabled="loading"
            label="Description"
            required
          ></v-text-field>

          <v-select
            :items="menus"
            item-text="name"
            item-value="id"
            v-model="menuId"
            :rules="menuRules"
            :disabled="loading"
            label="Menu"
            required
          ></v-select>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="add"
          >
            Add
          </v-btn>
          <v-btn :disabled="loading" @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import MenuService from "@/services/menu-service";
import CategoryService from "@/services/category-service";

export default {
  data: () => ({
    valid: true,
    name: null,
    description: null,
    menuId: null,
    menus: [],
    nameRules: [(v) => !!v || "Name is required"],
    descriptionRules: [(v) => !!v || "Description is required"],
    menuRules: [(v) => !!v || "Menu is required"],
    loading: false,
  }),
  async created() {
    this.showLoading();
    let response = await MenuService.getAll();
    if (response.data.isSuccess) {
      this.menus = [...response.data.data];
    }
    this.hideLoading();
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    async add() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        this.loading = true;
        await CategoryService.add({
          name: this.name,
          description: this.description,
          menuId: this.menuId,
        });
        this.loading = false;

        this.$router.push({ name: "Categories" });
      }
    },
    cancel() {
      this.$router.push({ name: "Categories" });
    },
  },
};
</script>
