<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Edit category</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-model="category.name"
            :rules="nameRules"
            :disabled="loading"
            label="Name"
            required
          ></v-text-field>

          <v-text-field
            v-model="category.description"
            :rules="descriptionRules"
            :disabled="loading"
            label="Description"
            required
          ></v-text-field>

          <v-select
            :items="menus"
            item-text="name"
            item-value="id"
            v-model="category.menuId"
            :rules="menuRules"
            :disabled="loading"
            label="Menu"
            required
          ></v-select>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="update"
          >
            Update
          </v-btn>
          <v-btn :disabled="loading" @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import MenuService from "@/services/menu-service";
import CategoryService from "@/services/category-service";

export default {
  data: () => ({
    valid: true,
    category: {
      id: null,
      name: null,
      description: null,
      menuId: null,
    },
    menus: [],
    nameRules: [(v) => !!v || "Name is required"],
    descriptionRules: [(v) => !!v || "Description is required"],
    menuRules: [(v) => !!v || "Menu is required"],
    loading: false,
  }),
  beforeRouteEnter(to, from, next) {
    if (!isNaN(to.params.id)) {
      next();
    } else {
      next({
        path: "/PageNotFound",
      });
    }
  },
  async created() {
    this.showLoading();

    let response = await MenuService.getAll();
    if (response.data.isSuccess) {
      this.menus = [...response.data.data];
    }

    let categoryId = Number(this.$route.params.id);
    response = await CategoryService.getById(categoryId);

    this.hideLoading();

    if (response.data.isSuccess) {
      this.category = { ...response.data.data };
    } else {
      this.$router.push({ name: "PageNotFound" });
    }
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    async update() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        this.loading = true;
        await CategoryService.edit({
          id: this.category.id,
          name: this.category.name,
          description: this.category.description,
          menuId: this.category.menuId,
        });
        this.loading = false;

        this.$router.push({ name: "Categories" });
      }
    },
    cancel() {
      this.$router.push({ name: "Categories" });
    },
  },
};
</script>
