<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Category management</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-btn color="success" @click="createCategory">
          <v-icon left>
            mdi-plus
          </v-icon>
          Create
        </v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-data-table
          :headers="headers"
          :items="this.categories"
          :loading="loading"
          dense
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn
              color="error"
              @click="showConfirmDialogAndSetSelectedCategoryId(item.id)"
              :disabled="loading"
              icon
            >
              <v-icon>
                mdi-delete
              </v-icon>
            </v-btn>
            <v-btn
              color="cyan"
              @click="editCategory(item.id)"
              :disabled="loading"
              icon
            >
              <v-icon>
                mdi-pencil
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <ConfirmDialog
      v-model="dialog"
      title="Warning"
      message="Are you sure?"
      :callback="hideConfirmDialogAndDeleteSelectedCategory"
    />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import ConfirmDialog from "@/components/common/ConfirmDialog";
import CategoryService from "@/services/category-service";

export default {
  components: {
    ConfirmDialog,
  },
  data: () => ({
    categories: [],
    headers: [
      {
        text: "Name",
        align: "start",
        value: "name",
      },
      { text: "Description", value: "description" },
      { text: "Menu", value: "menuName" },
      { text: "Number of posts", value: "numberOfPosts" },
      { text: "Created date", value: "createdDate" },
      { text: "", sortable: false, value: "actions" },
    ],
    dialog: false,
    selectedCategoryId: null,
    loading: false,
  }),
  async created() {
    await this.loadData();
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    createCategory() {
      this.$router.push({ name: "CreateCategory" });
    },
    editCategory(categoryId) {
      this.$router.push({ name: "EditCategory", params: { id: categoryId } });
    },
    showConfirmDialogAndSetSelectedCategoryId(categoryId) {
      this.selectedCategoryId = categoryId;
      this.dialog = true;
    },
    async loadData() {
      this.loading = true;
      let response = await CategoryService.getAll();
      if (response.data.isSuccess) {
        this.categories = [...response.data.data];
      }
      this.loading = false;
    },
    async hideConfirmDialogAndDeleteSelectedCategory() {
      this.showLoading();

      await CategoryService.delete(this.selectedCategoryId);

      this.selectedCategoryId = null;
      this.dialog = false;

      await this.loadData();

      this.hideLoading();
    },
  },
};
</script>
