div.border-red + div.ck.ck-editor {
  div.ck.ck-toolbar {
    border-color: $color-red;
  }
  div.ck.ck-content {
    border-color: $color-red;
  }
}

.ck-editor__editable_inline {
  min-height: 300px;
}
