<template>
  <app-loading></app-loading>
</template>

<script>
import AppLoading from "@/AppLoading";
import AuthService from "@/services/auth-service";

export default {
  components: {
    AppLoading,
  },
  async mounted() {
    var user = await AuthService.signinRedirectCallback();

    if (user) {
      this.$router.push({ name: "Home" });
    }
  },
};
</script>
