<template>
  <div></div>
</template>

<script>
import AuthService from "@/services/auth-service";

export default {
  async mounted() {
    await AuthService.signinSilentCallback();
  },
};
</script>
