<template>
  <v-dialog v-bind:value="value" persistent max-width="300">
    <v-card>
      <v-card-title>
        {{ title }}
      </v-card-title>
      <v-card-text> {{ message }}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="$emit('input', false)">
          No
        </v-btn>
        <v-btn color="error" text @click="confirm()">
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["value", "title", "message", "callback"],
  methods: {
    confirm() {
      this.$emit("input", false);

      if (this.callback) {
        this.callback();
      }
    },
  },
};
</script>
