<template>
  <div>
    <ckeditor
      :class="editorClass"
      :editor="editor"
      v-bind:value="value"
      v-on:input="handleOnInput"
      v-on:blur="handleOnBlur"
      :disabled="disabled"
    ></ckeditor>

    <v-expand-transition>
      <div v-if="hasError" class="v-text-field__details pt-2">
        <div class="v-messages theme--light error--text" role="alert">
          <div class="v-messages__wrapper">
            <div class="v-messages__message">{{ errorMessage }}</div>
          </div>
        </div>
      </div>
    </v-expand-transition>
  </div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

export default {
  inject: {
    form: { default: null },
  },
  created() {
    this.form && this.form.register(this);
  },
  beforeDestroy() {
    this.form && this.form.unregister(this);
  },
  components: {},
  props: ["value", "rules", "disabled"],
  data: () => ({
    editor: ClassicEditor,
    hasError: false,
    errorMessage: null,
    shouldValidate: true,
  }),
  computed: {
    editorClass() {
      return this.hasError ? "border-red" : "";
    },
  },
  methods: {
    handleOnInput(newValue) {
      this.$emit("input", newValue);
      this.validateByValue(newValue);
    },
    handleOnBlur() {
      this.validateByValue(this.value);
    },
    validate() {
      return this.validateByValue(this.value);
    },
    validateByValue(valueToCheck) {
      if (this.rules && this.rules.length > 0) {
        for (let i = 0; i < this.rules.length; i++) {
          let rule = this.rules[i];

          let result = rule(valueToCheck);

          if (typeof result !== "boolean") {
            this.hasError = true;
            this.errorMessage = result;

            return false;
          }
        }
      }

      this.hasError = false;

      return true;
    },
    reset() {
      this.hasError = false;
      this.errorMessage = null;
    },
    resetValidation() {
      this.reset();
    },
  },
};
</script>
