<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Create user</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-model="userName"
            :counter="20"
            :rules="userNameRules"
            label="UserName"
            required
          ></v-text-field>

          <v-text-field
            v-model="password"
            :counter="25"
            :rules="passwordRules"
            label="Password"
            type="password"
            required
          ></v-text-field>

          <v-text-field
            v-model="name"
            :counter="100"
            :rules="nameRules"
            label="Name"
            required
          ></v-text-field>

          <v-select
            :items="roles"
            item-text="name"
            item-value="id"
            v-model="roleId"
            :rules="roleRules"
            label="Role"
            required
          ></v-select>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="add"
          >
            Add
          </v-btn>
          <v-btn @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { USER_ROLES } from "@/constants/user-role";
import UserService from "@/services/user-service";

export default {
  data: () => ({
    valid: true,
    userName: null,
    password: null,
    name: null,
    roleId: null,
    userNameRules: [
      (v) => !!v || "UserName is required",
      (v) => (v && !v.includes(" ")) || "UserName can't contain white space(s)",
      (v) =>
        (v && v.length <= 20) || "UserName must be less than 20 characters",
    ],
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) =>
        (v &&
          /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,25}$/.test(
            v
          )) ||
        "Weak password",
      (v) =>
        (v && v.length <= 25) || "Password must be less than 25 characters",
    ],
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 100) || "Name must be less than 100 characters",
    ],
    roles: [...USER_ROLES],
    roleRules: [(v) => !!v || "Role is required"],
    loading: false,
  }),
  methods: {
    async add() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        this.loading = true;
        await UserService.add({
          userName: this.userName,
          name: this.name,
          password: this.password,
          roleId: this.roleId,
        });
        this.loading = false;

        this.$router.push({ name: "Users" });
      }
    },
    cancel() {
      this.$router.push({ name: "Users" });
    },
  },
};
</script>
