<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Edit user</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-model="user.name"
            :counter="100"
            :rules="nameRules"
            :disabled="loading"
            label="Name"
            required
          ></v-text-field>

          <v-select
            :items="roles"
            item-text="name"
            item-value="id"
            v-model="user.roleId"
            :rules="roleRules"
            :disabled="loading"
            label="Role"
            required
          ></v-select>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="update"
          >
            Update
          </v-btn>
          <v-btn :disabled="loading" @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { USER_ROLES } from "@/constants/user-role";
import UserService from "@/services/user-service";

export default {
  data: () => ({
    valid: true,
    user: {
      id: null,
      name: null,
      roleId: null,
    },
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 100) || "Name must be less than 100 characters",
    ],
    roles: [...USER_ROLES],
    roleRules: [(v) => !!v || "Role is required"],
    loading: false,
  }),
  beforeRouteEnter(to, from, next) {
    if (to.params.id) {
      next();
    } else {
      next({
        path: "/PageNotFound",
      });
    }
  },
  async created() {
    this.showLoading();

    let userId = this.$route.params.id;
    let response = await UserService.getById(userId);

    this.hideLoading();

    if (response.data.isSuccess) {
      this.user = { ...response.data.data };
    } else {
      this.$router.push({ name: "PageNotFound" });
    }
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    async update() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        this.loading = true;
        await UserService.edit({
          id: this.user.id,
          name: this.user.name,
          roleId: this.user.roleId,
        });
        this.loading = false;

        this.$router.push({ name: "Users" });
      }
    },
    cancel() {
      this.$router.push({ name: "Users" });
    },
  },
};
</script>
