<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>User management</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-btn color="success" @click="createUser">
          <v-icon left>
            mdi-plus
          </v-icon>
          Create
        </v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-data-table
          :headers="headers"
          :items="this.users"
          :loading="loading"
          dense
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn
              color="error"
              @click="showConfirmDialogAndSetSelectedUserId(item.id)"
              :disabled="loading || !canPerformOperations(item)"
              icon
            >
              <v-icon>
                mdi-delete
              </v-icon>
            </v-btn>
            <v-btn
              color="cyan"
              @click="editUser(item.id)"
              :disabled="loading || !canPerformOperations(item)"
              icon
            >
              <v-icon>
                mdi-pencil
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <ConfirmDialog
      v-model="dialog"
      title="Warning"
      message="Are you sure?"
      :callback="hideConfirmDialogAndRemoveSelectedUser"
    />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import ConfirmDialog from "@/components/common/ConfirmDialog";
import UserService from "@/services/user-service";
import AuthService from "@/services/auth-service";

export default {
  components: {
    ConfirmDialog,
  },
  data: () => ({
    loggedUserName: null,
    users: [],
    headers: [
      {
        text: "UserName",
        align: "start",
        value: "userName",
      },
      { text: "Name", value: "name" },
      { text: "Role", value: "roleName" },
      { text: "", sortable: false, value: "actions" },
    ],
    dialog: false,
    selectedUserId: null,
    loading: false,
  }),
  async created() {
    let user = await AuthService.getUser();

    this.loggedUserName = user.profile.preferred_username;

    await this.loadData();
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    createUser() {
      this.$router.push({ name: "CreateUser" });
    },
    editUser(userId) {
      this.$router.push({ name: "EditUser", params: { id: userId } });
    },
    canPerformOperations(user) {
      return user.userName !== "admin" && user.userName !== this.loggedUserName;
    },
    showConfirmDialogAndSetSelectedUserId(userId) {
      this.selectedUserId = userId;
      this.dialog = true;
    },
    async loadData() {
      this.loading = true;
      let response = await UserService.getAll();
      if (response.data.isSuccess) {
        this.users = [...response.data.data];
      }
      this.loading = false;
    },
    async hideConfirmDialogAndRemoveSelectedUser() {
      await UserService.delete(this.selectedUserId);

      this.selectedUserId = null;
      this.dialog = false;

      await this.loadData();

      this.hideLoading();
    },
  },
};
</script>
