<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" :mini-variant="!drawer" permanent app>
      <v-list>
        <v-list-item
          v-for="item in navigationItems"
          :key="item.title"
          link
          :to="item.path"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar dark flat app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Blog App</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-title class="mr-4">{{ name }}</v-toolbar-title>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-avatar v-on="on" color="grey" size="40"></v-avatar>
        </template>

        <v-list>
          <v-list-item @click="logout">
            <v-list-item-title>Log out</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
    <app-loading v-if="isLoading"></app-loading>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";
import AppLoading from "@/AppLoading";
import AuthService from "@/services/auth-service";

export default {
  components: {
    AppLoading,
  },
  data: () => ({
    user: null,
    drawer: true,
    navigationItems: [
      { title: "Home", icon: "mdi-home-city", path: "/" },
      {
        title: "Menus",
        icon: "mdi-format-list-bulleted-square",
        path: "/Menus",
      },
      {
        title: "Categories",
        icon: "mdi-view-list-outline",
        path: "/Categories",
      },
      { title: "Posts", icon: "mdi-book-edit", path: "/Posts" },
      {
        title: "Carousels",
        icon: "mdi-folder-image",
        path: "/Carousels",
      },
      { title: "Users", icon: "mdi-account", path: "/Users" },
    ],
  }),
  computed: {
    ...mapGetters({
      isLoading: "application/isLoading",
    }),
    name() {
      if (this.user && this.user.profile) {
        return this.user.profile.name;
      }
      return null;
    },
  },
  async created() {
    this.user = await AuthService.getUser();
  },
  methods: {
    logout() {
      AuthService.logout();
    },
  },
};
</script>
