<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Create menu</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-model="name"
            :counter="100"
            :rules="nameRules"
            :disabled="loading"
            label="Name"
            required
          ></v-text-field>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="add"
          >
            Add
          </v-btn>
          <v-btn :disabled="loading" @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import MenuService from "@/services/menu-service";

export default {
  data: () => ({
    valid: true,
    name: null,
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 100) || "Name must be less than 100 characters",
    ],
    loading: false,
  }),
  methods: {
    async add() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        this.loading = true;
        await MenuService.add({
          name: this.name,
        });
        this.loading = false;

        this.$router.push({ name: "Menus" });
      }
    },
    cancel() {
      this.$router.push({ name: "Menus" });
    },
  },
};
</script>
