<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Edit menu</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <v-text-field
            v-model="menu.name"
            :counter="100"
            :rules="nameRules"
            :disabled="loading"
            label="Name"
            required
          ></v-text-field>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="update"
          >
            Update
          </v-btn>
          <v-btn :disabled="loading" @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import MenuService from "@/services/menu-service";

export default {
  data: () => ({
    valid: true,
    menu: {
      id: null,
      name: null,
    },
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 100) || "Name must be less than 100 characters",
    ],
    loading: false,
  }),
  beforeRouteEnter(to, from, next) {
    if (!isNaN(to.params.id)) {
      next();
    } else {
      next({
        path: "/PageNotFound",
      });
    }
  },
  async created() {
    this.showLoading();

    let menuId = Number(this.$route.params.id);
    let response = await MenuService.getById(menuId);

    this.hideLoading();

    if (response.data.isSuccess) {
      this.menu = { ...response.data.data };
    } else {
      this.$router.push({ name: "PageNotFound" });
    }
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    async update() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        this.loading = true;
        await MenuService.edit({
          id: this.menu.id,
          name: this.menu.name,
        });
        this.loading = false;

        this.$router.push({ name: "Menus" });
      }
    },
    cancel() {
      this.$router.push({ name: "Menus" });
    },
  },
};
</script>
