<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Menu management</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-btn color="success" @click="createMenu">
          <v-icon left>
            mdi-plus
          </v-icon>
          Create
        </v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-data-table
          :headers="headers"
          :items="this.menus"
          :loading="loading"
          dense
        >
          <template v-slot:[`item.actions`]="{ item }">
            <v-btn
              color="error"
              @click="showConfirmDialogAndSetSelectedMenuId(item.id)"
              :disabled="loading"
              icon
            >
              <v-icon>
                mdi-delete
              </v-icon>
            </v-btn>
            <v-btn
              color="cyan"
              @click="editMenu(item.id)"
              :disabled="loading"
              icon
            >
              <v-icon>
                mdi-pencil
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <ConfirmDialog
      v-model="dialog"
      title="Warning"
      message="Are you sure?"
      :callback="hideConfirmDialogAndDeleteSelectedMenu"
    />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import ConfirmDialog from "@/components/common/ConfirmDialog";
import MenuService from "@/services/menu-service";

export default {
  components: {
    ConfirmDialog,
  },
  data: () => ({
    menus: [],
    headers: [
      {
        text: "Name",
        align: "start",
        value: "name",
      },
      { text: "Number of categories", value: "numberOfCategories" },
      { text: "Created date", value: "createdDate" },
      { text: "", sortable: false, value: "actions" },
    ],
    dialog: false,
    selectedMenuId: null,
    loading: false,
  }),
  async created() {
    await this.loadData();
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    createMenu() {
      this.$router.push({ name: "CreateMenu" });
    },
    editMenu(menuId) {
      this.$router.push({ name: "EditMenu", params: { id: menuId } });
    },
    showConfirmDialogAndSetSelectedMenuId(menuId) {
      this.selectedMenuId = menuId;
      this.dialog = true;
    },
    async loadData() {
      this.loading = true;
      let response = await MenuService.getAll();
      if (response.data.isSuccess) {
        this.menus = [...response.data.data];
      }
      this.loading = false;
    },
    async hideConfirmDialogAndDeleteSelectedMenu() {
      this.showLoading();

      await MenuService.delete(this.selectedMenuId);

      this.selectedMenuId = null;
      this.dialog = false;

      await this.loadData();

      this.hideLoading();
    },
  },
};
</script>
