<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Create post</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <v-file-input
            accept="image/*"
            v-model="file"
            :rules="fileRules"
            :disabled="loading"
            label="Select a image"
            required
          ></v-file-input>

          <v-text-field
            v-model="title"
            :counter="100"
            :rules="titleRules"
            :disabled="loading"
            label="Title"
            required
          ></v-text-field>

          <v-text-field
            v-model="shortDescription"
            :counter="1500"
            :rules="shortDescriptionRules"
            :disabled="loading"
            label="Short description"
            required
          ></v-text-field>

          <v-select
            :items="categories"
            item-text="name"
            item-value="id"
            v-model="categoryId"
            :rules="categoryRules"
            :disabled="loading"
            label="Category"
            required
          ></v-select>

          <editor
            class="mb-4"
            v-model="content"
            :rules="contentRules"
            :disabled="loading"
          ></editor>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="add"
          >
            Add
          </v-btn>
          <v-btn :disabled="loading" @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Editor from "@/components/common/Editor";
import CategoryService from "@/services/category-service";
import PostService from "@/services/post-service";

export default {
  components: {
    Editor,
  },
  data: () => ({
    valid: true,
    file: null,
    title: null,
    shortDescription: null,
    categoryId: null,
    categories: [],
    content: null,
    fileRules: [
      (v) => !!v || "Image file is required",
      (v) =>
        !v || v.size < 2000000 || "Image file size should be less than 2 MB!",
    ],
    titleRules: [
      (v) => !!v || "Title is required",
      (v) => (v && v.length <= 100) || "Title must be less than 100 characters",
    ],
    shortDescriptionRules: [
      (v) => !!v || "Short description is required",
      (v) =>
        (v && v.length <= 1500) ||
        "Short description must be less than 1500 characters",
    ],
    categoryRules: [(v) => !!v || "Category is required"],
    contentRules: [(v) => !!v || "Content is required"],
    loading: false,
  }),
  async created() {
    this.showLoading();
    let response = await CategoryService.getAll();
    if (response.data.isSuccess) {
      this.categories = [...response.data.data];
    }
    this.hideLoading();
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    async add() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        let formData = new FormData();

        formData.append("file", this.file);
        formData.append("title", this.title);
        formData.append("shortDescription", this.shortDescription);
        formData.append("categoryId", this.categoryId);
        formData.append("content", this.content);

        this.loading = true;
        await PostService.add(formData);
        this.loading = false;

        this.$router.push({ name: "Posts" });
      }
    },
    cancel() {
      this.$router.push({ name: "Posts" });
    },
  },
};
</script>
