<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Edit post</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-form ref="form" v-model="valid">
          <div class="mb-2">Old thumbnail</div>
          <v-img
            :src="post.thumbnailImageUrl"
            max-height="100"
            max-width="200"
          ></v-img>

          <v-file-input
            accept="image/*"
            v-model="post.file"
            :rules="fileRules"
            :disabled="loading"
            label="Select a image"
            required
          ></v-file-input>

          <v-text-field
            v-model="post.title"
            :counter="100"
            :rules="titleRules"
            :disabled="loading"
            label="Title"
            required
          ></v-text-field>

          <v-text-field
            v-model="post.shortDescription"
            :counter="1500"
            :rules="shortDescriptionRules"
            :disabled="loading"
            label="Short description"
            required
          ></v-text-field>

          <v-select
            :items="categories"
            item-text="name"
            item-value="id"
            v-model="post.categoryId"
            :rules="categoryRules"
            :disabled="loading"
            label="Category"
            required
          ></v-select>

          <editor
            class="mb-4"
            v-model="post.content"
            :rules="contentRules"
            :disabled="loading"
          ></editor>

          <v-btn
            class="mr-4"
            color="success"
            :loading="loading"
            :disabled="!valid"
            @click="update"
          >
            Update
          </v-btn>
          <v-btn :disabled="loading" @click="cancel">
            Cancel
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Editor from "@/components/common/Editor";
import CategoryService from "@/services/category-service";
import PostService from "@/services/post-service";

export default {
  components: {
    Editor,
  },
  data: () => ({
    valid: true,
    post: {
      id: null,
      thumbnailImageUrl: null,
      title: null,
      shortDescription: null,
      categoryId: null,
      content: null,
    },
    categories: [],
    fileRules: [
      (v) =>
        !v || v.size < 2000000 || "Image file size should be less than 2 MB!",
    ],
    titleRules: [
      (v) => !!v || "Title is required",
      (v) => (v && v.length <= 100) || "Title must be less than 100 characters",
    ],
    shortDescriptionRules: [
      (v) => !!v || "Short description is required",
      (v) =>
        (v && v.length <= 1500) ||
        "Short description must be less than 1500 characters",
    ],
    categoryRules: [(v) => !!v || "Category is required"],
    contentRules: [(v) => !!v || "Content is required"],
    loading: false,
  }),
  beforeRouteEnter(to, from, next) {
    if (!isNaN(to.params.id)) {
      next();
    } else {
      next({
        path: "/PageNotFound",
      });
    }
  },
  async created() {
    this.showLoading();

    let response = await CategoryService.getAll();
    if (response.data.isSuccess) {
      this.categories = [...response.data.data];
    }

    let postId = Number(this.$route.params.id);
    response = await PostService.getById(postId);

    this.hideLoading();

    if (response.data.isSuccess) {
      this.post = { ...response.data.data };
    } else {
      this.$router.push({ name: "PageNotFound" });
    }
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    async update() {
      this.valid = this.$refs.form.validate();

      if (this.valid) {
        let formData = new FormData();

        formData.append("id", this.post.id);
        if (this.post.file) {
          formData.append("file", this.post.file);
        }
        formData.append("title", this.post.title);
        formData.append("shortDescription", this.post.shortDescription);
        formData.append("categoryId", this.post.categoryId);
        formData.append("content", this.post.content);

        this.loading = true;
        await PostService.edit(formData);
        this.loading = false;

        this.$router.push({ name: "Posts" });
      }
    },
    cancel() {
      this.$router.push({ name: "Posts" });
    },
  },
};
</script>
