<template>
  <div>
    <v-row>
      <v-col class="md-12">
        <h2>Post management</h2>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-btn color="success" @click="createPost">
          <v-icon left>
            mdi-plus
          </v-icon>
          Create
        </v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="offset-md-6 md-6">
        <v-text-field
          v-model="search"
          :counter="100"
          :disabled="loading"
          label="Search by title"
          append-icon="mdi-magnify"
          single-line
          hide-details
          v-on:keyup.enter="searchPosts"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="md-12">
        <v-data-table
          :search="search"
          :headers="headers"
          :items="this.posts"
          :loading="loading"
          :server-items-length="totalPosts"
          :options.sync="options"
          loading-text="Loading... Please wait"
          dense
          :footer-props="{
            itemsPerPageOptions: [5, 10, 20],
          }"
        >
          <template v-slot:[`item.thumbnailImageUrl`]="{ item }">
            <div class="d-flex justify-center py-2">
              <v-img
                :src="item.thumbnailImageUrl"
                max-height="100"
                max-width="200"
              ></v-img>
            </div>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-btn
              color="error"
              @click="showConfirmDialogAndSetSelectedPostId(item.id)"
              :disabled="loading"
              icon
            >
              <v-icon>
                mdi-delete
              </v-icon>
            </v-btn>
            <v-btn
              color="cyan"
              @click="editPost(item.id)"
              :disabled="loading"
              icon
            >
              <v-icon>
                mdi-pencil
              </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <ConfirmDialog
      v-model="dialog"
      title="Warning"
      message="Are you sure?"
      :callback="hideConfirmDialogAndRemoveSelectedPost"
    />
  </div>
</template>

<script>
import { mapActions } from "vuex";
import ConfirmDialog from "@/components/common/ConfirmDialog";
import PostService from "@/services/post-service";

export default {
  components: {
    ConfirmDialog,
  },
  data: () => ({
    posts: [],
    search: null,
    headers: [
      {
        text: "Title",
        align: "start",
        value: "title",
        width: "200",
      },
      {
        text: "Thumbnail",
        align: "center",
        value: "thumbnailImageUrl",
        width: "300",
        sortable: false,
      },
      { text: "Short description", value: "shortDescription", width: "300" },
      { text: "Total view", value: "totalView" },
      { text: "Category", value: "categoryName" },
      { text: "Created date", value: "createdDate" },
      { text: "", sortable: false, value: "actions" },
    ],
    options: {},
    totalPosts: 0,
    dialog: false,
    selectedPostId: null,
    loading: false,
  }),
  watch: {
    options: {
      async handler() {
        await this.loadData();
      },
      deep: true,
    },
  },
  methods: {
    ...mapActions({
      showLoading: "application/showLoading",
      hideLoading: "application/hideLoading",
    }),
    createPost() {
      this.$router.push({ name: "CreatePost" });
    },
    editPost(postId) {
      this.$router.push({ name: "EditPost", params: { id: postId } });
    },
    showConfirmDialogAndSetSelectedPostId(postId) {
      this.selectedPostId = postId;
      this.dialog = true;
    },
    async loadData() {
      this.loading = true;

      const { sortBy, sortDesc, page, itemsPerPage } = this.options;

      let response = await PostService.getPosts({
        searchValue: this.search,
        sortBy: sortBy.length === 1 ? sortBy[0] : null,
        isDescending: sortDesc.length === 1 ? sortDesc[0] : null,
        page: page,
        itemsPerPage: itemsPerPage,
      });
      if (response.data.isSuccess) {
        this.posts = [...response.data.data];

        this.totalPosts = response.data.total;
      }

      this.loading = false;
    },
    async searchPosts() {
      await this.loadData();
    },
    async hideConfirmDialogAndRemoveSelectedPost() {
      this.showLoading();

      await PostService.delete(this.selectedPostId);

      this.selectedPostId = null;
      this.dialog = false;

      await this.loadData();

      this.hideLoading();
    },
  },
};
</script>
