<template>
  <v-flex xs12>
    <v-layout row class="my-3">
      <v-flex xs2></v-flex>
      <v-flex xs8>
        <v-layout row>
          <h4 style="color: #223e6e; font-size: 34px; font-weight: 400">
            {{ categoryName }}
          </h4>
        </v-layout>
        <v-layout row>
          <v-flex xs4 class="px-4" v-for="item in pageOfItems" :key="item.id">
            <v-card class="no-box-shadow">
              <v-img
                style="cursor: pointer"
                @click="navigatePost(item.id)"
                :src="item.thumbnailImageUrl"
                height="170px"
                class="mt-2"
              ></v-img>
              <p
                style="cursor: pointer; color: #5277ac; font-size: 16px"
                class="mt-2"
                @click="navigatePost(item.id)"
              >
                {{ item.title }}
              </p>
              <p class="grey--text text--darken-1" style="font-size: 16px">
                {{ item.shortDescription }}
              </p>
            </v-card>
          </v-flex>
        </v-layout>
        <div class="card text-center m-3">
          <div class="card-footer pb-0 pt-3">
            <v-pagination
              v-model="page"
              :length="Math.ceil(this.posts.length / 3)"
              @input="onChangePage"
            ></v-pagination>
          </div>
        </div>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
const pageSize = 3;
const defaultStyles = {
  ul: {
    margin: 0,
    padding: 0,
    display: "inline-block",
    border: "0.25px solid #DCDCDC",
    borderRadius: "5px",
  },
  li: {
    listStyle: "none",
    display: "inline",
    textAlign: "center",
  },
  a: {
    cursor: "pointer",
    padding: "6px 12px",
    display: "block",
    float: "left",
    border: "0.25px solid #DCDCDC",
    color: "#000",
  },
  aFocus: {
    backgroundColor: "#DCDCDC",
  },
};
const defaultLabels = {
  first: "<<",
  last: ">>",
  previous: "<",
  next: ">",
};

export default {
  props: {
    categoryName: {
      type: String,
      required: true,
      default: "",
    },
    posts: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  data: () => ({
    page: 1,
    pageSize,
    defaultStyles,
    defaultLabels,
    pageOfItems: [],
    categories: {},
  }),
  async created() {
    this.onChangePage(1);
  },
  methods: {
    onChangePage(value) {
      this.page = value;
      // update page of items
      const skip = this.pageSize * (this.page - 1);
      this.pageOfItems = this.posts.slice(skip, skip + pageSize);
    },
    navigatePost(id) {
      this.$router.push({ name: "Post", params: { id: id } });
    },
  },
};
</script>
