<template>
  <v-app>
    <v-main>
      <v-layout column>
        <v-flex xs12 style="background: #223f6d">
          <v-layout row class="pt-2 ma-0">
            <v-flex xs2></v-flex>
            <v-flex xs4>
              <img
                class="mr-2 hdrImg"
                :src="require('@/assets/images/Twitter_icon.png')"
                @click="$router.push({ name: 'Home' })"
              />
            </v-flex>
            <v-flex xs4 class="white--text text-end" style="font-size: 12px">
              <span v-if="loggedUser">Welcome {{ name }}</span>
            </v-flex>
            <v-flex xs2></v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12>
          <v-layout row class="my-3">
            <v-flex xs2></v-flex>
            <v-flex xs8 class="text-end">
             <v-btn text class="ml-3" 
              v-for="menu in menus" 
              :key="menu.id"
              :to="{ name: 'Menu', params: { id: menu.id } }"
              >{{menu.name}}</v-btn>

              <template v-if="loggedUser">
                <v-btn class="ml-3" color="warning" @click="logout()"
                  >LOGOUT</v-btn
                >
              </template>
              <template v-else>
                <v-btn class="ml-3" color="warning" @click="showRegisterPopup()"
                  >REGISTER</v-btn
                >
                <v-btn class="ml-1" color="primary" @click="login()"
                  >LOGIN</v-btn
                >
              </template>
            </v-flex>
            <v-flex xs2></v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12 style="background: #5277ac">
          <v-layout row class="my-3">
            <v-flex xs7></v-flex>
            <v-flex xs3>
              <v-text-field
                label="Search"
                solo
                dense
                hide-details
                v-model="searchValue"
                v-on:keyup.enter="searchPosts"
              ></v-text-field
            ></v-flex>
            <v-flex xs2></v-flex>
          </v-layout>
        </v-flex>

        <router-view></router-view>

        <v-divider style="color: #c4c4c4; height: 2px"></v-divider>

        <v-flex xs12>
          <v-layout row>
            <v-flex xs2></v-flex>
            <v-flex xs8>
              <div class="text-center my-3">2021 © All rights reserved</div>
            </v-flex>
            <v-flex xs2></v-flex>
          </v-layout>
        </v-flex>

        <v-dialog v-model="dialog" width="400" persistent>
          <register v-on:close-dialog="closeDialog" v-on:login="login"></register>
        </v-dialog>
      </v-layout>
    </v-main>
  </v-app>
</template>

<script>
import AuthService from "@/services/auth-service";
import MenuService from "@/services/menu-service";
import RegisterDialog from "@/views/Register.vue"

export default {
  components: {
    'register': RegisterDialog
  },
  data: () => ({
    loggedUser: null,
    user: {
      username: "",
      password: "",
      name: "",
    },
    confirmPassword: "",
    dialog: false,
    menus: [],
    searchValue: "",
  }),
  computed: {
    name() {
      if (this.loggedUser && this.loggedUser.profile) {
        return this.loggedUser.profile.name;
      }
      return null;
    },
  },
  async created() {
    this.loggedUser = await AuthService.getUser();
    let response = await MenuService.getAll();
    if (response.data.isSuccess) {
      this.menus = [...response.data.data];
    }
  },
  methods: {
    showRegisterPopup() {
      this.dialog = true;
    },
    closeDialog(){
      this.dialog = false;
    },
    login() {
      AuthService.login();
    },
    logout() {
      AuthService.logout();
    },
    async searchPosts() {
      this.$router.push({ name: "Search", query: { searchValue: this.searchValue } }).catch(() => {});
    },
  },
};
</script>
