<template>
  <v-card
    style="border: none"
    class="mx-auto my-12"
    max-width="600"
    outlined
    tile
  >
    <v-img :src="require('@/assets/images/logout.png')"></v-img>

    <v-card-text class="d-flex justify-center">
      You have been logged out successfully.
    </v-card-text>

    <v-card-actions class="d-flex justify-center">
      <v-btn color="deep-purple" text @click="backToHomePage">
        Back to home page
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import AuthService from "@/services/auth-service";

export default {
  async beforeRouteEnter(to, from, next) {
    let isAuthenticated = await AuthService.isAuthenticated();

    if (isAuthenticated) {
      await AuthService.logout();

      return;
    }

    next();
  },
  methods: {
    backToHomePage() {
      this.$router.push({ name: "Home" });
    },
  },
};
</script>
