<template>
  <app-loading></app-loading>
</template>

<script>
import AppLoading from "@/AppLoading";
import AuthService from "@/services/auth-service";

export default {
  components: {
    AppLoading,
  },
  async mounted() {
    await AuthService.signoutRedirectCallback();

    this.$router.push({ name: "LogOut" });
  },
};
</script>
