@import "variables.scss";

.hdrImg:hover {
    opacity: 0.7;
    cursor: pointer;
}

div.layout.row {
    margin: 0px;
}

.no-box-shadow {
    box-shadow: none !important;
}

.comment-panel {
    border: 1px solid rgba(204, 204, 204, .75);

    .comment-panel-header {
        font-size: 20px;
        line-height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 1px solid rgba(204, 204, 204, .5)
    }

    .comment-list {
        max-height: 500px;
        line-height: 20px;
        overflow-y: auto;

        .comment-list-wrapper {
            padding: 0 20px;

            .comment-list-item {
                padding-top: 10px;
                display: flex;
                flex-direction: row;
                overflow: auto;
                color: #444;

                .author-avatar {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px
                }

                .comment-list-item-body {
                    width: 100%;
                    margin-top: -4px;
                    font-size: 13px;

                    .author-name {
                        font-size: 16px;
                        margin-right: 5px;
                        color: #0bb586;
                    }

                    .comment-content {
                        word-wrap: break-word
                    }

                    .comment-action {
                        margin-bottom: 5px;
                        font-size: 12px;
                        display: flex;
                        flex-direction: row;

                        .comment-reply {
                            cursor: pointer;
                            margin-right: 5px;
                        }
                    }

                    .reply-count {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}